[2016-10-11 14:47] prashen opened #3 "Getting Issue while installing example folder"
I am getting error while installing your `example ` folder it installed but when I am playing video on pressing video icon it's showing error. Please tell me, Is there something missing in example folder? Or i have to install a new RN project and implement step by step? Actually I wanna first see the example file then will implement to my existing project. I was searching a solution https://github

[2016-10-11 15:14] prashen commented on #3
Wait! wait! wait!
I got a solution https://github.com/react-native-community/react-native-video/issues/184

Thanks to this guys @logileifs.

[code]

[2016-10-11 16:55] prashen opened #4 "After video completed it showing nothing only black screen."
I want that after watching video, it should back to it's thumbnail state. like this:
https://cloud.githubusercontent.com/assets/5449548/19279982/607c17f6-9001-11e6-9164-2242210e941c.png

but it's showing like this:
After completing video see screenshot:
https://cloud.githubusercontent.com/assets/5449548/19278867/a0899fa8-8ffc-11e6-9a3a-eb5c02d4ac5a.png

Please suggest how to fix this.

[2016-10-23 21:00] tarun29061990 opened #5 "video not adjusting to player size"
This is my VideoPlayer code:-

[code]
![a658241f-0a3c-4f1a-b61b-f72c3fb9cb4a](https://cloud.githubusercontent.com/assets/1535607/19629379/bc1613f2-9991-11e6-96c3-036d1e6366d5.jpeg)

Please help?

[2016-10-23 21:06] cornedor commented on #5
You might want to use `resizeMode="cover"`. If not, could you give an example of what you want?

[2016-10-23 21:11] cornedor commented on #4
I'm sorry for the late reply, I completely missed it. What the player currently does when the video is finished is to seek back to the start. I could implement an option to show the thumbnail instead.

[2016-10-23 21:11] #3 closed

[2016-10-24 04:29] tarun29061990 commented on #5
Thanks you

[2016-10-24 04:29] #5 closed

[2016-10-24 08:33] cornedor commented on #4
I've added a endWithThumbnail prop in 0.4.0.

[2016-10-24 08:33] #4 closed

[2016-10-24 19:20] prashen commented on #4
It's working in my real device but on emulator it's not smooth. Its ok.. thanks @cornedor. I am also waiting for ur other todo list of this plugin.

[2016-11-01 17:06] tarun29061990 commented on #5
Some parts of the video is getting clipped when using resizeMode="cover". Please help

[2016-11-01 17:07] tarun29061990 opened #6 "Red bar of the video not coming when duration is passed?"
Video red navigation bar not coming when duration is passed to the Video component
[code]
This is my code and the duration is coming as 5125 in miliseconds. Please help

[2016-11-01 17:17] cornedor commented on #5
Can you give an example of the result you want?

[2016-11-02 04:59] tarun29061990 commented on #5
This is the video I am recording:
![whatsapp image 2016-11-02 at 10 24 59 am](https://cloud.githubusercontent.com/assets/1535607/19917187/f63ee750-a0e6-11e6-921d-a764efe24981.jpeg)

And when I play it:
![whatsapp image 2016-11-02 at 10 25 00 am](https://cloud.githubusercontent.com/assets/1535607/19917200/0b2df0c0-a0e7-11e6-9e81-0e7061819506.jpeg)

So the video is getting clipped. Below is my code

[2016-11-03 19:45] cornedor commented on #5
Are you sure that it is not in the video file? The camera preview in Android sometimes has a different resolution than the output file. I've had issues with this myself.

[2016-11-04 06:33] tarun29061990 commented on #5
I have played this video file in VLC and its perfect. There is no problem with the video file. The flow is I am recording a video, storing it locally and then playing it in the next view. I think there is some problem with the dimensions of the video. Can you suggest something?

[2016-11-04 06:37] cornedor commented on #5
Could you share that video so I can test with it?

On Fri, Nov 4, 2016, 07:33 Tarun Chaudhary <notifications@github.com> wrote:

[2016-12-08 21:20] shaftwin opened #7 "RN 0.39 Do not seek to start after playing"
Hi,

I m on RN 0.39, after playing video or audio, the player do not seek to 0 and i cannot replay.
Someone know how can we do it ?
Cordialy !!

[2016-12-12 11:52] Justkant opened #8 "Update react-native-vector-icons to 3.0.0"
All in the title.
Thanks for your work.

[2016-12-12 12:52] cornedor commented on #7
I fixed this issue for Android, there is however still a bug if you're using iOS10 in react-native-video (https://github.com/react-native-community/react-native-video/issues/335)

[2016-12-12 12:52] cornedor commented on #8
I've fixed the peer dependencies.

[2016-12-12 12:52] #8 closed

[2016-12-12 12:53] cornedor commented on #6
Do you still have this issue?

[2016-12-12 13:08] Justkant commented on #8
Thx for the quick response

[2017-01-15 15:38] keyurparalkar opened #10 "Getting Black screen"
Hi Team,

I am having a problem with video playback. There is no video playing on the app just getting black screen.?
screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/14138515/21963816/ba482bd4-db66-11e6-958b-0759d1cbe1e7.png)

[2017-01-16 02:14] mbenjamin618 commented on #10
Hi,

Do you have the thumbnail prop enabled? It's a required field.

[2017-01-16 09:40] cornedor commented on #10
I'll change it so that the thumbnail is not required to show the controls.

[2017-01-16 10:14] cornedor commented on #10
I've changed this in v0.5.0

[2017-01-16 10:14] #10 closed

[2017-01-16 15:19] keyurparalkar commented on #10
That solved the problem thanks !

[2017-01-23 16:15] thynan opened #11 "seekable seekbar"
Hi!

You have a "Make seek bar seekable" task in the readme. Any plans when this will be done? Or did you already implement this, and i'm missing something?

Thanks for the great work so far!

[2017-01-26 21:21] cornedor commented on #11
I still have to implement this, I can't promise when this will be done, but I hope to have time for that soon.

[2017-01-26 21:56] PeTRoLi commented on #11
I also wait bro. Thank you for support

[2017-01-26 21:58] PeTRoLi commented on #11
How I can get callback when video finished?

[2017-01-26 22:19] cornedor commented on #11
@PeTRoLi I've just published v0.5.1, that version works with the onEnd callback, so you could just do:
`<VideoPlayer onEnd={() => console.log('Done!')} />`

[2017-01-26 22:20] #6 closed

[2017-01-27 06:48] PeTRoLi commented on #11
@cornedor Thank you so much.

[2017-01-27 07:46] thynan commented on #11
Ok, that's great news! Just in case you haven't noticed: there is a fork of this repo, where "seekability" has beenimplemented:

https://github.com/ming436534/react-native-video-player.

However he' using a dependency to react-native-material-kit, and some other dependiencies which unfortunately break my project. But maybe it can be useful for your implementation?

[2017-01-30 10:14] cornedor commented on #11
@thynan thanks for pointing that out. Using react-native-material-kit as a dependency is indeed quite overkill, but I might be able to reuse some of his code..

[2017-02-14 07:35] thynan commented on #11
Hi! Any news on this? I'm just asking, because I need this feature early next week, and if you are sure you won't have time to implement this in the coming days, I will try to hack together my own "interim solution".

[2017-02-14 10:42] cornedor commented on #11
I've added this in e6fb149088924193bf13cfc0babd40c818861d77 you can now update it. If you have issues with it don't hesitate to ask.

[2017-02-14 10:42] #11 closed

[2017-02-14 13:22] #7 closed

[2017-03-06 17:04] neuberoliveira opened #12 "Callback when play pause"
Is there a way to do some action (hide another view) when the play button is pressed? Something like `onPlay` and `onPause` would be great.

Or this issue is more in the `react-native-video` side?

thanks.

[2017-03-06 21:55] cornedor commented on #12
You could use the events that are included in react-native-video

[2017-03-06 21:55] #12 closed

[2017-03-14 00:39] juddey opened #13 "Thank you."
This Just Works :tm: - Thank you. :heart:

[2017-03-14 08:53] gsavvid opened #14 "Android: crash due to backgroundColor"
On my Android phone (7.1.1) I get the a crash `Error while updating property 'backgroundColor' of a View managed by: RCTVideo`. This doesn't happen on Genymotion with Android 5.0.0.

The problem is resolved if you remove `backgroundColor` from `styles.video`.

[2017-03-14 09:52] cornedor commented on #14
What is the color you are trying to set?

[2017-03-14 09:52] cornedor commented on #13
Thank you 😁

[2017-03-14 09:53] thynan commented on #13
Well, if we have a thank-you Issue now, I might as well chip in: Thanks for the great library, and for the great support/responsiveness. Particularly for implementing the seekbar last month after I asked about it - works like a charm!

[2017-03-14 10:06] gsavvid commented on #14
I'm not trying to set any color. When I said `styles.video` I was referring to the style that is defined in the library (inside index.js, line 29).

[2017-03-16 08:58] cornedor commented on #14
Sorry, but I cannot reproduce this. Do you have the same issue when you run the example on your phone?

[2017-03-17 11:41] inv-jithin opened #15 "iOS seek bar not working: react-native 0.39.2"
iOS seek bar not working in react-native version 0.39.2.

*Seekbar progress not working
*When touch on seekbar the video play from the start.

Mac OS
iPhone 6, 5s
OS iOS 10

This working smoothly on Android.

[2017-03-17 11:56] PeTRoLi commented on #15
yes, I have this problem also

[2017-03-17 19:40] mosesmc52 opened #16 "Video Player Object is not stopped after switching to view"
After I switch from the view that has the video player to another view. The video player doesn't stop or is not killed. I'm not sure that issue is a bug, but I would like to stop and remove the video player object.

[2017-03-21 08:58] cornedor commented on #15
@PeTRoLi do you also use 0.39.2?

[2017-03-21 09:02] cornedor commented on #16
Do you switch the view using a router? Most routers keep the view loaded in the background thus the video will just continue.

When I have some time I'll look into how to do this, I don't think there is a nice way to do this currently.

[2017-03-21 09:51] inv-jithin commented on #15
Actually, this is not react-native-video-player bug. This is react-native-video module issue.
Please refer https://github.com/react-native-community/react-native-video/issues/428.

Solution also found on this link  https://github.com/react-native-community/react-native-video/issues/480

Please use this intermediate version : "react-native-video": "git://github.com/react-native-community/react-nati

[2017-03-21 10:46] PeTRoLi commented on #15
@cornedor my versions;
react-native-video : 1.0.0
react-native-video-player : 0.6.1

[2017-03-21 10:49] cornedor commented on #15
@inv-jithin Thanks for the info

@PeTRoLi could you try what @inv-jithin suggested?

[2017-03-21 13:25] mosesmc52 commented on #16
Thanks,

I'll look into changing the view into a router. I'm not quite sure how to accomplish that. I'm using react-native-router-flux library to direct all of my routes.

[2017-03-21 14:55] mosesmc52 commented on #16
So I figured out my own issue. With the router library I'm using, it has this property called **ActionConst**. I just use the param called **ActionConst.RESET** found here:

https://github.com/aksonov/react-native-router-flux/blob/master/docs/API_CONFIGURATION.md#scene

[2017-03-21 14:55] #16 closed

[2017-03-21 15:36] cornedor opened #17 "Add the ability to stop video playback"

[2017-03-21 16:47] Traviskn opened #18 "video won't play until player.seek is called"
I'm using version 0.6.1 on Android, and am using a video from the filesystem.  I've noticed that after pressing the play button about a second or two passes and then the onLoad event fires, but the video won't play.  The controls show a pause button which indicates the video _should_ be playing.  Pressing pause and play again has no effect. However, if I drag the seekbar then the video will begin

[2017-03-21 17:27] cornedor commented on #18
Could you check what react-native-video version you're using?

[2017-03-21 17:29] Traviskn commented on #18
I'm using version 1.0.0

[2017-03-21 21:53] Traviskn commented on #18
I've been testing with other configurations, and I run into this issue even when setting the autoplay to true, so I'm thinking this is an issue with the underlying react-native-video library.  It could possibly be related to https://github.com/react-native-community/react-native-video/issues/494, where in some cases the paused prop is not working correctly.

[2017-03-22 08:42] cornedor commented on #18
Do you have the same issue when you use `require('./someVideoFile.js')` in the source?

[2017-03-22 08:43] cornedor commented on #14
@gsavvid have you been able the solve this?

[2017-03-22 13:31] gsavvid commented on #14
@cornedor Yes, I solved it by commenting out the following line from `index.js` of `react-native-video-player`:

[code]

[2017-03-22 18:16] cornedor commented on #14
Thanks for the update, I'll close the issue for now since it works on my 5X with 7.1.1.

If someone else has the same issue I'll reopen it.

[2017-03-22 18:16] #14 closed

[2017-03-29 21:07] cfontana0 opened #19 "Not able to reproduce videos without extension"
Hi! I'm not able to reproduce videos without extension downloaded from AWS S3.
They work correctly on Android, but do not work on iOS.
Can I indicate the content-type of something like that?

I was thinking to download the file, change the name, add the extension and reproduce it with the react-native-video-player. But it sounds complicated.

Any Idea?

I'm using:
    "react-native": "0.39.2",

[2017-03-30 07:10] cornedor commented on #19
I think this is an issue with react-native-video, could you check if this is the same issue you have: https://github.com/react-native-community/react-native-video/issues/398

[2017-03-31 04:22] Traviskn commented on #18
Sorry it's taken me so long to respond.  I've tested the video now using both the `require()` syntax , and from the file system with a 'file://' uri , and now I can't seem to reproduce the issue!  👻

[2017-04-04 11:59] cornedor commented on #18
Good to hear it works again, if you ever have this issue again don't hesitate to comment here again.

[2017-04-04 11:59] #18 closed

[2017-04-11 09:27] liuxu6885538 opened #20 "Calling setState on an unmounted component"
Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.

[2017-04-11 09:30] liuxu6885538 commented on #20
When the video plays, click to return to the previous page will be an error

[2017-04-25 04:29] darrenfurr opened #21 "Text Overlay on Thumbnail"
Is there any way to do a text overlay on the thumbnail?  I didn't see a reference to
`{this.props.children}`

However in my testing - the text did not seem to display.

Thank you for the help. This is a great library.

[2017-05-02 13:43] cornedor commented on #21
This is currently not possible, I'll see if I can find a nice way to implement this.

[2017-05-02 13:44] #19 closed

[2017-05-02 13:44] #15 closed

[2017-05-10 07:36] Symous opened #22 "Can not set videoWidth and videoHeight."
Hi, I use this plugin in my Android app. this is my code:

[code]

but the result is the video didn't fill my screen.

[2017-05-10 09:37] cornedor commented on #22
The videoWidth and videoHeight is for the widht/height of the video itself to calculate the ratio, you can just use style for the width/height of the player. For example:
[code]

[2017-05-10 10:12] Symous commented on #22
Thank you @cornedor . :-)

[2017-05-10 10:12] #22 closed

[2017-05-10 17:34] dhawanheena26 opened #23 "Fullscreen mode : player turns black, no video plays, only audio."
In full screen mode video does not show and on exiting the full screen mode, video does not play again. (ios)

[2017-05-19 13:51] leogeng commented on #23
The same issue happen.

[2017-05-24 07:33] cornedor commented on #23
What version of react-native-video and react-native are you using. And I assume this is on iOS?

[2017-05-24 12:26] kevinmcampos opened #24 "Possible duplicate wrapper"
Since `render()` already got a wrapper view...

[code]

Maybe that View tag that wraps everything in `renderVideo()` is unnecessary due it's not allows any style customization.

[code]

My use case of style customization is to add `flex: 1` to this View.
Let me know if a PR is welcomed.

[2017-05-24 13:37] cornedor commented on #24
That View is used to wrap the Video and the View beneath it, without it it will generate a syntax error. It might be useful to add an extra item to customStyles to style that View. A PR is always welcome.

[2017-05-24 23:39] mbelgrader opened #25 "Android not working on device"
It is working perfect on iOS and Android 7.0+ simulator.

But on the galaxy s8, it shows the thumbnail and controls. Then when pressing play, it is blank and does not play the video.

This is the device log:
`
05-24 16:31:50.313 13493-13493/? E/Zygote: v2
05-24 16:31:50.314 13493-13493/? E/Zygote: accessInfo : 0
05-24 16:33:47.939 13493-13770/com.thirsty E/OpenGLRenderer: resultIndex is -1, the po

[2017-05-26 08:46] cornedor commented on #25
Are you able to play a video using just react-native-video?

[2017-05-26 18:06] drblmb opened #26 "View.PropTypes has been deprecated"
New version of ReactNative (0.43+) warns of upcoming deprecation.

Warning: View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead.

[2017-05-26 18:09] drblmb opened #27 "Prop to disable/remove full screen button"
This is a feature request - it would be nice to be able to prevent the full-screen video option.

[2017-05-30 14:36] eduludi opened #28 "Missing override for customStyles.seekBarBackground"
The override for the `customStyles.seekBarBackground` is missing in  `renderSeekBar()`.

Solution:

[code]

[2017-05-31 07:33] mohsen0071 opened #29 "Android 4.2.2 not supported"

[2017-05-31 11:29] cornedor commented on #29
Do you get an error?

[2017-06-02 00:53] mbelgrader commented on #25
I tried using react-native-video and I get the same issue.

I found that it only happens when trying to play videos on the Android that were uploaded using an iOS. Which makes no sense to me. Any ideas why that is?

Also, it does play vids uploaded by android, but there is a really long wait to load and freezes the screen while loading.

[2017-06-02 01:10] mbelgrader commented on #25
I found that changing this:

project(':react-native-video').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-video/android')

to this:

project(':react-native-video').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-video/android-exoplayer')

in the settings.gradle file fixes everything.

[2017-06-02 01:10] #25 closed

[2017-06-02 09:23] cornedor commented on #25
It propably wouldn't play iOS video's because it had a codec android doesn't support using the default player. But exoplayer seems to be a much better option, i've had more issues that didn't happen with exoplayer.

[2017-06-07 05:59] mbelgrader opened #30 "controlsTimeout not working well on Android"
I have controlsTimeout set to 1000 since all my videos will be less than that. I just want to keep the controls visible the entire video.

It's working fine on iOS
On Android, if I set the timeout higher than the video length, the controls don't show up at all.

[2017-06-07 08:52] #20 closed

[2017-06-07 08:54] cornedor commented on #28
This is fixed in 5bd4dc5374e86f679b483a43ec61ec2d5615a018

[2017-06-07 08:54] #28 closed

[2017-06-07 08:56] cornedor commented on #30
1000 is not a typo? 1000 is one second and quite short. But i've added a disableControlsAutoHide prop  in v0.7.0 that you can use.

[2017-06-07 09:01] cornedor commented on #24
I've added the `videoWrapper` custom style in 0.7.0

[2017-06-07 09:01] #24 closed

[2017-06-07 10:07] mbelgrader commented on #30
Yes typo here, not in the code (10000). Awesome thanks!

[2017-06-07 10:07] #30 closed

[2017-06-07 11:43] kevinmcampos commented on #24
Thank you for the great work!

Best video player library ever. <3

[2017-06-12 07:01] imbudhiraja opened #31 "How to show activity indicator when video is buffering?"
I have to show an activity indicator when video is buffering.

[2017-06-12 08:14] cornedor commented on #31
That is currently not possible, I'll try to add it soon.

[2017-06-27 17:29] MarkMurphy commented on #23
Same issue here. react-native 45.1,  react-native-video 1.0.0, iOS

[2017-06-29 13:36] cornedor commented on #23
Could you try playing the video using just [react-native-video](https://github.com/react-native-community/react-native-video) and calling `player.presentFullscreenPlayer()`

[2017-07-05 01:20] pheromone opened #33 "this is a bug?"
在 reatc-native 的该版本下安装,发生如下:
The installation under this version of reatc-native occurs as follows:

![539700c1-b7ca-4273-bf71-0fd02c5d9d8d](https://user-images.githubusercontent.com/14305431/27845578-169ea76e-6163-11e7-9a25-3aa6ca386740.png)

[2017-07-05 13:49] Traviskn commented on #33
Have you installed `react-native-video` and `react-native-vector-icons`?  You will need to install both for this library to work.  The `react-native link react-native-video` command will not work until you have already installed `react-native-video`

Try the following commands:

`npm install --save react-native-video react-native-vector-icons`
`react-native link react-native-video`

[2017-07-05 23:38] pheromone commented on #33
thank your help.

[2017-07-05 23:38] #33 closed

[2017-07-06 05:18] karan101292 opened #34 "Feature request - bind events to player operations."
Hello, It would be great if we can bind callbacks on events such as `onStart`, `onEnd`, `onSeek`, `onPause`, `onResume` and it should have arg returning `currentTime` for the event.

Refer this JQuery player: https://github.com/Selz/plyr

[2017-07-06 08:29] cornedor commented on #33
I've clarified the readme a bit.

[2017-07-08 20:18] Odywan55 opened #36 "Android 5.1 white screen"
Hello, have a white screen when press start , sound is playing , but no video,

before press start
<img width="406" alt="screen shot 2017-07-08 at 23 16 54" src="https://user-images.githubusercontent.com/13364000/27988780-aefe5130-6433-11e7-8192-0b164ee28915.png">
after
<img width="453" alt="screen shot 2017-07-08 at 23 18 30" src="https://user-images.githubusercontent.com/13364000/27988783-ce3d2c

[2017-07-10 21:08] cornedor commented on #36
can you try playing the video in another player on your phone?

[2017-07-11 06:46] Odywan55 commented on #36
this video is from vimeo service,
i use it like here
 `import React, { Component } from 'react';
import { View, Text } from 'react-native';
import VideoPlayer from 'react-native-video-player';

const VIMEO_ID = '30968927';

export default class App extends Component {
  constructor() {
    super();

    this.state = {
      video: { width: undefined, height: undefined, duration: undefined },

[2017-07-24 14:31] cornedor commented on #29
If there is someone with the same issue, could you provide more info?

[2017-07-24 19:27] WillyRamirez opened #39 "undefined is not an object RCTVideo.Constants"
error after installation on Windows -> Android

undefined is not an object (evaluating '_reactNative.NativeModules.UIManager.RCTVideo.Constants')

Did anyone come across this issue before?

[2017-07-24 22:42] WillyRamirez commented on #39
Had to add "compile project(':react-native-video')" in android/app/build.gradle

[2017-07-24 22:58] #39 closed

[2017-07-24 23:04] WillyRamirez opened #40 "Loop not working"
Hi,  I finally found a library in which I have autoplay, loop AND where I can hide controls, so thanks first of all. Unfortunately for me _loop_ isn't working.  Here is my code:
All help appreciated
[code]

package.json
[code]

[2017-07-24 23:24] WillyRamirez commented on #40
change `loop` to `repeat` and it works!

[2017-07-24 23:24] #40 closed

[2017-07-25 09:19] #26 closed

[2017-07-25 11:26] cornedor commented on #34
You can use the events from [react-native-community/react-native-video](https://github.com/react-native-community/react-native-video), there are also a few more events that are described in the README.md. I did add a few more today in 0.8.0.

[2017-07-25 11:26] #34 closed

[2017-07-28 11:47] WillyRamirez opened #41 "Can't play .mp4 on android"
using an external uri, i cannot play mp4 videos on Android. On ios they work fine. On android when i use .webm they also work fine.

I have not here, not on react-native-video encountered anyone with this same issue. Can anyone please confirm that for example this test video works on android?

http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4
[code]

[2017-07-28 12:06] cornedor commented on #41
Did you try it with just react-native-video?

[2017-07-29 17:05] WillyRamirez commented on #41
Hi @cornedor, no I haven't.
It mysteriously started working on my android device, still doesn't work on emulator though. Closing issue.

[2017-07-29 17:05] #41 closed

[2017-08-01 05:39] AlmogRnD commented on #31
+1

[2017-08-01 05:39] AlmogRnD opened #42 "YellowBox.js:76 Using <Image> with children is deprecated and will be an error in the near future. Please reconsider the layout or use <ImageBackground>"
Is anyone else getting the following warning

YellowBox.js:76 Using <Image> with children is deprecated and will be an error in the near future. Please reconsider the layout or use <ImageBackground> instead

[2017-08-10 16:07] cornedor commented on #42
Hmm, this is will kick the react native version requirement up to 0.46.1. This probably wont be hard to fix, but I might publish it a bit later.

[2017-08-13 00:31] AlmogRnD commented on #42
Great please let me know when it's done I will update my the package

[2017-08-15 13:29] Sundin commented on #34
I couldn't get these callbacks to work, could you perhaps provide an example @cornedor?

[2017-08-17 07:50] AhSem opened #43 "Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSURL initFileURLWithPath:]: nil string parameter'"
I am using iOS device, and when I play the video, I got this error.

The video url is a rtsp live stream. The iOS device and the camera stream (rtsp) are in same local network.

What does this error imply?

[2017-08-17 17:57] Angelk90 opened #44 "Show the time"
@cornedor: Can you show the video time?

[2017-08-25 06:00] HAPENLY opened #45 "Android 6.0 Run successfully, show white screen, player control is not displayed"
Run successfully, show white screen, player controls do not show.
IPhone, running without problems
![image](https://user-images.githubusercontent.com/9146468/29701261-459997a6-899d-11e7-9c95-4b436950d907.png)
![image](https://user-images.githubusercontent.com/9146468/29701341-b918210c-899d-11e7-94d5-1cd8dbdf7cac.png)

![image](https://user-images.githubusercontent.com/9146468/29701278-5e053f98-899

[2017-08-25 07:48] HAPENLY commented on #36
@cornedor  I had the same problem, too. I tried to solve it and then failed
[ I had the same problem#45](https://github.com/cornedor/react-native-video-player/issues/45)

I have no problem with react-native-video

[2017-08-25 08:29] HAPENLY commented on #45
This is a bug. I have solved this problem. The problem is the problem of logic, when the thumbnail resources for the problem appears empty. The solution 1. author to modify the logic, 2. users add resources to the thumbnail.
![image](https://user-images.githubusercontent.com/9146468/29705831-4f675c68-89b2-11e7-8200-0e5f636a060c.png)
![image](https://user-images.githubusercontent.com/9146468/297058

[2017-08-25 12:28] shiyunsheng commented on #44
I hope too

[2017-08-28 10:29] krishbhattacharyya opened #46 "Error while updating property 'backgroundColor' of a view managed by: RCTVideo"
**Environment:**
react-native: 0.44.0
node 7.9.0
"react-native-video-player": "^0.8.1",

**Target Platform:**
Android Emulator ( Nougat )

**Development Operating System:**
Ubuntu

**Steps to Reproduce:**
1) react-native run-android
2) Click on the play icon in the video player.

**Expected Behavior**
Video should play on the click.

**Extra info**
Android Emulator ( MarsheMallow ) - Working prope

[2017-08-30 09:54] krishbhattacharyya commented on #46
I think the problem is due to - "react-native-video": "^1.0.0" ( dependency of this package )

In the latest version of  "react-native-video" it seems work in Android Emulator ( Nougat ).

I have made basic player with the help of "react-native-video": "^2.0.0"-
It is working fine for me :)

Sharing screens shots-

I think if "react-native-video" will be updated & also needed some change in your c

[2017-08-30 20:31] vasilycrespo opened #47 "Is there a way to use onLoad property from react-native-video?"
Hello, considering that the plugin uses react-native-video, is there a way to use the property onLoad to retrieve the video information on load? eg:

`{"canStepForward":true,"canStepBackward":true,"canPlayReverse":true,"canPlaySlowForward":true,"canPlayFastForward":true,"naturalSize":{"orientation":"portrait","height":1920,"width":1080},"canPlaySlowReverse":true,"currentTime":0,"duration":2.14}`

[2017-08-30 21:56] mateofd commented on #47
Just pass an onLoad prop to the VideoPlayer:

[code]

Something like that. I looked at the source code and figured this out.

Regards!

[2017-09-01 15:18] mateofd commented on #23
Same here, RN 0.44.3 and react-native-video 1.0.0 and 2.0.0 (same behavior)

[2017-09-11 04:10] leogeng commented on #44
+1

[2017-09-11 04:11] leogeng commented on #17
+1

[2017-09-12 13:22] Natochka commented on #17
+1

[2017-09-12 20:39] cornedor commented on #47
The onLoad event is indeed triggered by react-native-video's onLoad event. See: https://github.com/cornedor/react-native-video-player/blob/master/index.js#L187

[2017-09-12 20:39] #47 closed

[2017-09-12 21:08] cornedor commented on #46
react-native-video is now updated. Is it fixed for you now?

[2017-09-12 21:09] cornedor commented on #44
I've added it to my TODO list

[2017-09-12 21:10] cornedor commented on #43
I'm not sure, but a it might be that your path is null instead of a string. Could you test it with react-native-video, if you've not done that already.

[2017-09-12 21:12] cornedor commented on #45
Thanks for digging into this and posting a comment here. Could you try to explain it a bit more, I don't really understand when this happens. Does this happen if the thumbnail URl is not valid?

[2017-09-12 21:14] cornedor commented on #23
I've had some stutters in Simulator too. Does someone have this issues on an actual device?

[2017-09-13 00:37] AhSem commented on #43
Thank you for your reply.
I would like to clarify on one thing beforehand.
Can react-native-video-player and react-native-video play rtsp live stream from a network/ip camera?
This is not specified in the documentation, so I am not sure if this is an issue or it is just not supported at the moment.

[2017-09-13 05:56] cornedor commented on #43
I’m not sure, you can test it by just importing react-native-video and copy the example from their GitHub

[2017-09-13 06:02] dhawanheena26 commented on #23
Yes, I got it on actual device as I was recording and testing from my phone, was not using on simulator

[2017-09-13 06:47] cornedor commented on #23
What do you mean by recording?

[2017-09-13 09:47] krishbhattacharyya commented on #46
Thanks @cornedor I will check .. & inform u soon.

[2017-09-14 07:15] #27 closed

[2017-09-14 07:16] cornedor commented on #27
I've added this in v0.8.2

[2017-09-14 13:19] krishbhattacharyya commented on #46
Thanks @cornedor ... Now this is working properly. I have checked. You can close this issue.

[2017-09-14 13:20] cornedor commented on #46
Thanks for the update, I'll close it now.

[2017-09-14 13:20] #46 closed

[2017-09-15 06:47] dhawanheena26 commented on #23
Recording , means , I recorded a video using my phone, selected it and tried to play it in full screen. It even occurs when I select a video from camera.

[2017-09-15 11:43] cornedor commented on #23
Can you share one of those video's? Also, what iPhone did you use?

[2017-09-17 06:50] Lizhooh opened #51 "It should not rely on `react-native-vector-icons`"
using pictures, it will be lighter

[2017-09-19 01:46] isAlmogK opened #52 "Add fullscreen button in Android"
The full-screen option is not showing on Andriod not sure why. I'm using the lastest version

[code]

Here is my code

[code]

[2017-09-19 19:18] cornedor commented on #52
Fullscreen isn't fully implemented in Android yet, you can check out this pull request https://github.com/cornedor/react-native-video-player/pull/38. The readme has some instructions on how to set it up.

[2017-09-21 14:15] MSSPL-PiyaleeMaiti opened #53 "Video Play in Android version 7.0/24"
In android version 7.0 and api version 24, when we play a video then it will showing below error.
![screenshot_1506002940](https://user-images.githubusercontent.com/20696057/30700294-d026d100-9f04-11e7-92ea-61911cbdb3b9.png)

I found a solution that we should overlride the video-player mode_module package video background color. Now I want to know that when we trying to override the video style li

[2017-09-21 18:17] cornedor commented on #53
24 and above hasn't a background set with the v0.8.3

[2017-09-21 18:17] #53 closed

[2017-09-21 18:48] manosim opened #54 "Bug with ViewPropTypes.style"
Hello there! Thank you for the great work on this library! I've just updated to `0.8.3` and `react-native-video` `2.0.0` and I am getting the following error. Currently on React Native `0.42.3`.

![image](https://user-images.githubusercontent.com/6333409/30712926-8f51c58a-9f05-11e7-86df-783479d1263e.png)

Another error I've got (relative to this one) pointed to this line https://github.com/cornedo

[2017-09-21 18:57] manosim commented on #54
I've just realised that `ViewPropTypes` was introduced on a later version of RN(after `0.42.3`) so for now will fork and switch back to `View.propTypes.style` and try to update RN asap!

[2017-09-21 18:57] #54 closed

[2017-09-21 23:55] AlmogRnD commented on #52
@cornedor any reason the PR was not merged?

[2017-09-22 06:30] MSSPL-PiyaleeMaiti commented on #53
Solved

[2017-09-22 08:37] cornedor commented on #52
If I do you have to manually copy the native code from a folder in node_modules. If you do not do that you get an error. I still have to put some time into getting this to work with react-native link

[2017-09-23 09:45] alihamza opened #55 "How to stop/pause video programmatically"
How can I programmatically pause/stop video before navigating to next screen?

[2017-09-25 05:02] AlmogRnD commented on #52
@cornedor yea that would be great if it can work with jus react native link

[2017-09-25 10:59] cornedor commented on #55
I think you can do rate="0" to stop the video, if that does not work I'll create a pause function.

[2017-09-27 00:33] #55 closed

[2017-09-28 09:35] mateioprea opened #58 "YouTube support"
Hello,
Great project! I'm curious if it can support YouTube? If not, I can start working on it.

[2017-09-28 09:40] cornedor commented on #58
This is currently not possible. This is just a wrapper around react-native-video, and that one does not support YouTube. Do you have an idea on how to implement it?

[2017-09-28 10:06] mateioprea commented on #58
Currently no idea, but how hard can it be?

There's a module named react-native-youtube (https://github.com/inProgress-team/react-native-youtube) maybe we can replicate something from there? It should be pretty easy to do. What do you think?

[2017-09-28 10:10] cornedor commented on #58
We'll have to try that I think, looks like (from the screenshot) there are already a few controls from the youtube component

[2017-09-28 18:38] Odywan55 opened #59 "Android 4.4"
hello, android 4.4 (x86 with google api's)  not working, no sound and no video :
<img width="427" alt="screen shot 2017-09-28 at 21 35 58" src="https://user-images.githubusercontent.com/13364000/30984189-4d8f37fa-a495-11e7-9546-29208355618a.png">

[2017-10-02 11:03] cornedor commented on #59
Could you try playing a video using react-native-video

[2017-10-04 17:05] Odywan55 commented on #59
Sorry, on real device everything is good !

[2017-10-04 17:05] #59 closed

[2017-10-04 17:09] Odywan55 commented on #36
same story, on real device everything is good !

[2017-10-04 17:09] #36 closed

[2017-10-10 03:49] callmejm opened #60 "Hard to show control bar"
First thanks to this awesome plugin, you done a great job. But I facing a problem that quite hard to show the control bar when tapping the video player. I have to tap very quick in few time only show the control bar. Is there any option can make it easily to tap only one time in video player to display the control bar ?

[2017-10-10 04:49] JayricMok commented on #60
it fixed when using https://github.com/ShariqMush/react-native-fullscreenvideo-player . But can you add the total duration and current play time inside this plugin. It will help a lot. Thanks

[2017-10-10 10:07] cornedor commented on #60
Is it a problem in fullscreen?

[2017-10-11 04:09] JayricMok commented on #60
@cornedor not in fullscreen in normal view, quite hard to show control bar. And also hope can support android in fullscreen mode, [fullscreen player](https://github.com/ShariqMush/react-native-fullscreenvideo-player) this can use for fullscreen, however it will buffer again each time when trigger fullscreen, not a good user experience. The original player you manage, it have auto detect the video

[2017-10-11 07:15] cornedor commented on #60
Ah ok, I haven't had issues with the control bar not showing up, what device are you using?

[2017-10-11 07:20] JayricMok commented on #60
@cornedor i use this [fullscreen player](https://github.com/ShariqMush/react-native-fullscreenvideo-player) index.js the control bar problem fixed. I using huawei p9 plus

[2017-10-11 09:26] sajjadG opened #61 "Support for subtitles"
Add support for subtitles that are attached to the file or also subtitles from different uri.

[2017-10-23 13:35] Angelk90 opened #63 "New graphics for the player"
@cornedor: I would suggest a new graphics for the player, see the picture below.
With the ability to customize the color of the ball and time seek.

![screenshot_20170820-211450](https://lh3.googleusercontent.com/VME_vtfI1Q7S_OdIpJm7qJkwJGoLXkhw49pY82Y8J4om0oqjVZ1c3G4EgOs_z0zU49Q=h900)

[2017-10-23 13:43] Angelk90 commented on #58
@mateioprea, @cornedor: try this: https://www.youtube.com/embed/KVZ-P-ZI6W4

[2017-10-27 04:31] lossen opened #64 "OnProgress doesn't work"
Hello!
I need to get a progress of the video. How can I get it?
Now I am trying to call onProgress, but nothing happens.
Also onPlayPress and onStart don't work.

this is my code:

[code]

[2017-10-27 09:01] #64 closed

[2017-11-01 13:05] aryankranthi opened #65 "How to stop/pause video programmatically"
How can I programmatically pause/stop video before navigating to next screen?

rate="0" is not working

[2017-11-03 07:33] JayricMok opened #66 "seek on start"
I would like to make a direct seek when click `onStartPress()`.

    onStartPress(){
      if(this.props.video.uri != ''){
        this.setState({
          isPlaying: true,
          isStarted: true,
        });
        console.log("THIS ON START");
        this.hideControls();
        this.player.seek(parseFloat("3.0"));
      }
    }

But I'm getting this error

 `Cannot read property 'seek' of

[2017-11-07 03:09] isAlmogK opened #67 "Video play just shows a black screen"
Not sure what exactly is going on but this was working fine but now all the sudden when I play a video I get just a black screen I can hear the sound. Here is my code and I'm on the latest version

[code]

[2017-11-08 17:21] Ilario17 opened #68 "resizeMode and loop props are ignored"
React Native 0.49

[code]

In this case:
`loop={false}` is ignored. When the video end, it starts immediately again
`resizeMode='cover'` is ignored. Seems that the default 'contain' persist

[2017-11-14 01:25] AlmogRnD commented on #67
Any news on this?

[2017-11-15 06:15] rushabhmakwana opened #69 "Seek not working"
I want to start a video from the specific time but seek does not work, I don't know why. Please help.

onVideoLoad(e) {
     this.videoPlayer.seek(time);
}

 <Video
                    source={require('../test1.mp4')}
                    ref={videoPlayer => this.videoPlayer = videoPlayer}
                       onEnd={this.onVideoEnd.bind(this)}
                       onLoad={this.onVideoLoad.bind

[2017-11-18 04:05] supritshah1289 commented on #58
@cornedor https://www.youtube.com/watch?v=CvEnDmw9Nnc

[2017-11-18 04:07] supritshah1289 commented on #67
@cornedor  any updates on this?

[2017-11-20 08:46] cornedor commented on #67
Sorry for the late reply, had a few busy weeks. Do you have this problem in the simulator? Or also on an actual device? If so what OS are you using?

[2017-11-20 09:37] cornedor commented on #68
Sorry for the late reaction, had a few busy weeks.
Did you give the player a height?

[2017-11-20 13:34] Ilario17 commented on #68
Ok, I did some tests.

Adding `width={win.width}` resolve `resizeMode='cover'`
But seems that the width props is ignored and the default width (200) that you set in this library is not changed.

Changing the line 274 in index.js
from:
`const { width } = this.state`
to
`const { width } = this.props`

the size changes according to the value entered.

For the second issue `loop={false}` seems that th

[2017-11-21 05:06] AlmogRnD commented on #67
For me it happens both on Andriod both device and simulator

[2017-11-21 11:07] cornedor commented on #67
can you share a video with the problem? And which Android version are you using?

[2017-11-22 05:15] AlmogRnD commented on #67
Pixel 8.0

[2017-12-02 11:44] ankitbisht143 commented on #31
Same issue

[2017-12-02 13:22] ankitbisht143 commented on #52
Still full-screen option is not showing on Andriod

[2017-12-02 14:01] ankitbisht143 opened #70 "fullscreen control is not there in android"
Full screen option is not there in android.

[2017-12-06 09:38] shimil2017 opened #71 "How to stop background Videos playing"
The video playing in the app should stop any other audio/vidoe previously plays in the back.

is there any way to do this.thanks

[2017-12-06 09:48] IvRRimum opened #72 "Animated component breaks the app"
Using react native starterkit, installed this library. i get this:

<img width="370" alt="screen shot 2017-12-06 at 11 47 14" src="https://user-images.githubusercontent.com/5957079/33655222-27dd9206-da7b-11e7-8ad0-b23c36dcebb0.png">

Note that audio of the video is still playing in the background(even with this error on).

I debugged and found out that once i remove Animated component from renderi

[2017-12-08 08:54] ergunyasar opened #73 "base64 video thrown an exception"
Hello,

I am trying to play video with base64 data uri, however I am getting a NSInvalidArgumentException error. [NSURL initFileURLWithPath:]: nil string parameter'

Is there any support or workaround for this?

[2017-12-14 18:47] Angelk90 opened #74 "thumbnail as a video frame"
@cornedor: Would it be possible to have a video frame as a thumbnail?

[2017-12-14 19:41] ErnestGrey commented on #73
Have you tried `video={require('../path/to/yourVideo.mp4')}`

[2017-12-15 08:20] thynan commented on #17
+1

[2017-12-20 06:47] bgoyal2222 commented on #66
+1

[2018-01-08 08:52] EladBezalel commented on #70
Please look at #38. it's not available yet..

[2018-01-10 11:59] rupalpatel0008 opened #75 "Seekbar not reseting to 0"
When we load a video for the first time, seekbar starts with 0. After that video is played, and we try to replay the same video, we get the seekbar at the end of video first. After a 2-3 second its reset to 0.

[2018-01-17 08:32] cornedor commented on #72
Is the video in a Animated component? I don't really understand how it is related.

[2018-01-17 08:56] cornedor commented on #71
I've added a `stop` method in 0.9.0, this can be used to stop the video playback

[2018-01-17 08:56] #71 closed

[2018-01-17 08:56] cornedor commented on #75
This has been fixed in v0.9.0

[2018-01-17 08:56] #75 closed

[2018-01-17 08:58] #43 closed

[2018-01-17 08:58] cornedor commented on #17
This has been added in v0.9.0

[2018-01-17 08:58] #17 closed

[2018-01-17 08:58] #29 closed

[2018-01-17 09:00] #42 closed

[2018-01-17 09:01] cornedor commented on #73
See https://github.com/react-native-community/react-native-video/issues/266

[2018-01-17 09:01] #73 closed

[2018-01-17 09:03] cornedor commented on #66
The player should have a ref, see the updated example where stop/pause/resume is called in the player.

https://github.com/cornedor/react-native-video-player/commit/e02b327a17f87921af9d81f07d098cc98462d858#diff-6f5ffa383d424bfb3992760d1100f603

[2018-01-17 09:03] #66 closed

[2018-02-01 13:59] itsaberi opened #76 "load video from local path"
i want load video from local path, please help me

video={ source=require(this.state.data.videopath) }
error is : require() must have a single string literal argument

but this work
video={ source=require('./video1.mp4') }

[2018-02-02 10:37] cornedor commented on #76
You can't dynamically require something. Look at https://github.com/react-native-community/react-native-video#usage how to load a file locally.

[2018-02-02 10:37] #76 closed

[2018-02-09 11:41] Bigdragon13th commented on #68
I got the same issue. `loop={false}` is not working.

[2018-02-09 13:26] dip77 opened #77 "Android Full Screen Mode Video Playing from Starting"
In Android Full Screen Mode ,Video playing from Starting rather than continuing from where I pressed Full Screen
For the Android Full Screen I Have used,
NativeModules.BridgeModule.showFullscreen(uri);

RN 0.43

Would really Appreciate if someone can solve this issue, had spent too much time solving this and
Product need to release ASAP.

[2018-02-14 10:16] dip77 commented on #77
i solved this issue by writing native code,
**VideoPlayer (in file index.js)**
onToggleFullScreen() {
    if(Platform.OS === "android")
    {
      var uri = this.props.video.uri;
      **NativeModules.BridgeModule.showFullscreen(uri,currentTime*1000)**;//passing MS as duration
      //currentTime is stored in state and changes whenever onProgress gets called
 }
    else
    {
      this.player.pr

[2018-02-14 10:16] #77 closed

[2018-02-20 23:58] miladnit commented on #31
+1

[2018-03-01 10:07] cornedor commented on #68
This has been fixed by @mattvot in v0.9.1

[2018-03-01 10:07] #68 closed

[2018-03-05 00:43] nickrobinson352 opened #79 "Cannot read property 'seek' of null"
I get the following error everytime the video reaches the end. 'Cannot read property 'seek' of null'

` <VideoPlayer
                            thumbnail={require('../../img/Media.png')}
                            endWithThumbnail
                            video={{ uri: videoobj }}
                        />`

[2018-03-05 09:39] cornedor commented on #79
Did you install react-native-video?

[2018-03-05 14:56] nickrobinson352 commented on #79
Yes. This is what I have in my package.json. The video works well except get that exception as soon as the OnEnd is fired.

` "react-native-video": "^2.0.0",
  "react-native-video-player": "^0.9.0",`

[2018-03-06 09:18] cornedor commented on #79
Could you try `react-native-video-player@0.9.0`

[2018-03-06 12:02] Turtle0601 commented on #67
Hi,
there are any update for this theme.
I have the same problem. But i test with ios and have videos (mov) in the ressources-folder. It finds the video, but can't play this. Black Screen.

Thanks for help..

[2018-03-07 05:04] gvillenave commented on #79
Same error in 0.9.1, everything works fine in 0.9.0. I believe this is caused by f6de282c95f9b2725efd7f1d699a0201240345d2

[2018-03-07 21:00] uribro commented on #31
I achieve it with this code, hope it helps:
import {ActivityIndicator} from 'react-native';
  constructor(props) {
        super(props);
        this.state = {opacity: 0};
    }
   onLoadStart = () => {
        this.setState({opacity: 1});
    }

    onLoad = () => {
        this.setState({opacity: 0});
    }

    onBuffer = () => {
        this.setState({opacity: 1});
    }

render() {
        co

[2018-03-11 13:41] miladnit commented on #31
+1

[2018-03-13 01:51] nickrobinson352 commented on #79
react-native-video-player@0.9.0 worked !

[2018-03-13 01:51] #79 closed

[2018-03-17 08:59] patricktresp opened #81 "start in Fullscreen-Mode"
Hi,

i am not sure, if it is an issue, but i would like to start the videoplayer in Fullscreen mode without having to hit the fullscreen button.
As i was looking through the extended react-native-video module, i found a method
`presentFullscreenPlayer();`

Unfortunatly, this method is not available, when calling on the react-native-video-player reference

`<VideoPlayer
						ref={r => (this.player

[2018-03-21 09:51] skatego opened #83 "seekbar seeking just starts the video from 0"
Hey there,

when I use the seekbar, the video always starts from the first frame. I use version 0.9.0 (0.9.1 has the same behavior) and react-native-video version 2.0.0.

The issue happens on android phones and emulator.

The Videoplayer is included in the most basic fashion:

    <VideoPlayer
        endWithThumbnail
        thumbnail={{ uri: thumbUrl }}
        video={{ uri: conf.UPLOADS_BASE_DI

[2018-03-21 13:56] skatego commented on #83
It was actually an issue with the videos!
I am using mediacodec to compress my videos, and afterwards, the seekbar does not work anymore. If I use the original files, everything is fine, both android and iOS.

This can be closed, sorry.

[2018-03-21 13:56] #83 closed

[2018-03-23 10:43] laibinCN opened #84 "At the end of the play, typeError."
Exapmle code,
[code]
at the end of the play
[code]

[code]
If this is the case, Error will not occur.
Thank you！

[2018-03-23 11:28] lossen commented on #84
I have the same error.

[2018-03-27 08:39] cornedor commented on #84
@laibinCN you might have a typo, in `_this2.palyer.seek` is player written incorrectly. I can't find "palyer" the code on GitHub.

[2018-04-03 00:59] ChangerHe opened #85 "Can't support expo?"
I used react-native v0.54, and my code is runing at expo.
so I can't import some code in `xcodeproj`
what can I do?

[2018-04-03 03:27] #85 closed

[2018-04-03 03:28] ChangerHe commented on #85
Maybe I need read more document, sorry~

[2018-04-04 06:46] jamsch commented on #84
Occurs on iOS @ RN 0.55.0 for me. Android@0.54.2 seems fine. Gathering more info..

[code]

[2018-04-05 07:51] alprtv commented on #84
try
`yarn add react-native-video-player@0.9.0`
it's worked for me

[2018-04-11 14:20] thynan opened #86 "Play Audio in Background"
Hi!
Is it possible to configure the player to continue playing audio when the app is in background, or when the display is switched off?

[2018-04-19 13:06] arielalvarez88 commented on #60
This happens to me. I tried to wrap the renderVideo in a TouchableOpacity and call showControls in the onPress , but it doesn't work. For some reason it only works when I touch with 2 fingers.

[2018-04-20 08:22] #86 closed, assigned to nobody

[2018-04-21 04:02] SujaYuga opened #87 "fullscreen button on Android does not show"
I tried instructions as mentioned in PR#38. No errors but the fullscreen button on Android does not show. I am using react native video player version #0.9.1. React Native Version 0.53.0. Any update please?

[2018-04-27 16:27] carlbolduc opened #88 "Cleanly disable controls"
Is there a way to completely disable the controls and progression bar? I would like to drive the video programmatically with custom buttons.

[2018-04-30 13:10] patricktresp commented on #81
Nobody wanting this?
i tried to modify the sources to call toggleFullScreen() after it has mounted, but he reference is not available before the isPlaying State...

any hint is appreciated!

[2018-05-08 09:57] Bomberlt commented on #67
I had similar problem and it was problem with video uri. Can you verify that uri is correct and it's working with react-native-video?

[2018-05-12 04:06] capslock35 commented on #44
any updates?

[2018-05-18 22:33] melissayu commented on #84
I get the same error with 0.9.1. Downgrading to 0.9.0 also fixed it for me.

[2018-05-19 19:49] ODINA101 commented on #87
same here :/

[2018-05-21 00:01] slesulvy opened #90 "Daily motion support?"
Thank you for the great library, but how can I config with dailymotion?

[2018-05-24 09:31] sherazi-maavan commented on #87
fuck you !

[2018-05-24 09:55] ODINA101 commented on #87
fuck your girlfriend,mother,father,sister,brother,neighbors,aunt,uncle !!!

2018-05-24 13:31 GMT+04:00 Shahzaib Ali Sherazi <notifications@github.com>:

[2018-05-24 11:15] leksyib opened #91 "Videos not playing"
Hi!, my code looks like this
[code]

exactly what is in the example, but but it returns this:
<img width="336" alt="screen shot 2018-05-24 at 12 14 59 pm" src="https://user-images.githubusercontent.com/26174035/40482259-1aaa981c-5f4c-11e8-8aad-fcdcb39b1690.png">

[2018-05-28 05:49] #91 closed

[2018-05-28 09:56] jiyeon-dino opened #92 "Android 8.0.0 支持吗？"
Android 8.0.0 强退

[2018-05-28 11:34] jiyeon-dino commented on #53
how to solved?

[2018-06-04 14:57] theRedster opened #93 "Any way to get current play through time?"
I wanted to implement a feature which shows a pop-up when the time in the video has reached a certain point, is there any way of doing this with react-native-video-player?

[2018-06-06 07:30] NitishAgrawal commented on #52
Still full-screen option is not showing on Andriod

[2018-06-06 14:13] NitishAgrawal opened #94 "Video orientation change in Andriod O"
The video is working well in iOS also in Android less then O But in API level 26 Android O it's orientation fix to landscape.

[2018-06-14 15:07] pheromone opened #95 "this url can not paly"
http://wxsnsdy.tc.qq.com/105/20210/snsdyvideodownload?filekey=30280201010421301f0201690402534804102ca905ce620b1241b726bc41dcff44e00204012882540400&bizid=1023&hy=SH&fileparam=302c020101042530230204136ffd93020457e3c4ff02024ef202031e8d7f02030f42400204045a320a0201000400
this url can not paly.why?

[2018-06-18 14:17] ovidiu-balau commented on #44
Any updates on how to get the time?

[2018-06-24 02:02] j3rin opened #96 "Audio is not playing on iOS"
Video plays, but no audio. Any solutions?

Thank you in advance

[2018-06-24 19:39] qasimalbaqali commented on #79
Still facing this issue even if downgrading to 0.9.0

[2018-06-27 06:50] MostafaEslami opened #97 "react-native run-android went wrong!!!!!"
A problem occurred configuring project ':app'.

           Searched in the following locations:
               file:/home/oem/Android/Sdk/extras/android/m2repository/com/android/support/support-annotations/27.0.0/support-annotations-27.0.0.pom
               file:/home/oem/Android/Sdk/extras/android/m2repository/com/android/support/support-annotations/27.0.0/support-annotations-27.0.0.jar

[2018-07-02 12:05] a-eid commented on #79
I'm also getting a slightly different error after downgrading to 0.9.0

![video-thumbnail](https://user-images.githubusercontent.com/19273413/42162962-b3b3fcba-7dce-11e8-9cb8-9ddbd3a6cc77.jpg)

[2018-07-02 13:31] a-eid commented on #79
@qasimalbaqali I've restarted it a couple of times, still having the same issue.

[2018-07-05 02:15] xcv58 opened #98 "TypeScript support?"
Any plan to add TypeScript support? Is there anything I can help?

[2018-07-11 17:55] #63 closed

[2018-07-11 18:02] #44 closed

[2018-07-11 18:05] #74 closed

[2018-07-17 09:47] Ashish-ish commented on #97
+1 same problem, anyone found solution?

[2018-07-30 16:54] Tan-nn opened #99 "How to listen for onPlay and onSeek events?"
Thanks!

[2018-08-14 08:08] #65 closed

[2018-08-23 05:18] kriziacamilleuayan commented on #60
this is also happening to me, i have to tap fast to show the controls.

`"react-native": "0.56.0"`
`"react-native-video-player": "0.9.0"`
`"react-native-video": "3.2.0"`

[2018-08-24 05:24] xcv58 opened #100 "TypeError: One of the sources for assign has an enumerable key on the prototype chain"
RN 0.56.0

[code]

![image](https://user-images.githubusercontent.com/503123/44566528-f3741d80-a722-11e8-8f43-a57943443dfc.png)

[2018-08-24 05:35] xcv58 commented on #100
It caused by this line: https://github.com/cornedor/react-native-video-player/blob/cbe92667fc9c5ae0ac2e31071de990aa8d755eb0/index.js#L357

If I comment this line it works well.

[2018-09-02 14:52] ghostknow opened #101 "Video Player Orientation Incorrect with <= KitKat OS devices"
Anyone have idea to solve this problem?

[2018-09-26 19:00] petrogad commented on #94
@NitishAgrawal - I believe this should fix your problem.

https://github.com/cornedor/react-native-video-player/issues/101#issuecomment-424831921

Cheers

[2018-11-02 18:16] jeswinsimon commented on #84
Duplicate of #79

[2018-11-07 15:52] cornedor commented on #84
This should now be fixed in the latest version.

[2018-11-07 15:52] #84 closed

[2018-11-07 15:53] cornedor commented on #79
This should now be fixed in the latest version

[2018-11-23 11:27] tarunmehta-quovantis opened #104 "How to play video from local path?"
What will be the uri if our video is in local path?

[2018-11-29 22:33] sourabhdadapure opened #105 "Delay on video start"
there's a two second delay on Video start when clicked on the play button. Is this the default behavior?

My code
[code]

[2018-12-22 12:21] ikhattab commented on #74
Any updates about this issue I wish I could have thumbnail displayed by default from the video without providing thumbnail as image just like normal video player on the web 🙏

[2019-02-01 04:39] abishekraj commented on #105
Same issue! Any fixes yet ?

[2019-02-01 06:15] ravi8x commented on #96
I got the same problem. it turns out to be my phone is in silent mode :D I hope it's not the same case with you

[2019-02-01 06:37] abishekraj commented on #81
Any update on this issue? Would be great if there was a fix for this !

[2019-02-15 06:07] Brayacon commented on #91
Have you linked React-Native-video-player ?

 if not link it and restart the bundler

(type this in your terminal) ` react-native react-native-video-player `

(then)

`npm start `

[2019-03-17 20:54] ghost opened #108 "Android: add fullscreen button"
I cant see any full screen button, next and prev button

[2019-03-28 21:05] petrogad opened #109 "[Feature] - Loading & Rewind"
Thank you for the great controls library that sits on top of react-native-video.  I'm interested in adding a Loading wheel while the video buffers and a `n` second rewind tot he player controls.

Would you be receptive to these changes in this library?

Loading would happen automatically,
Rewind would be opt in.

Thank you!

[2019-04-02 13:25] AyushAppin commented on #96
Any Solution?

[2019-05-09 15:08] ParshantAroras commented on #23
Hi this problem is  in Simulator only . I have tested on iphone 5C and iphone 8+ working fine

[2019-05-18 14:03] lude1994 opened #111 "TypeError: Cannot read property 'Constants' of undefined"
I use react-native-video or react-native-video-player show  _TypeError: Cannot read property 'Constants' of undefined_  ,I dont know how to solve to it

[2019-05-21 11:21] madhumatip opened #112 "not displaying thumbnail in android"

[2019-06-02 02:07] rafagouveia opened #113 "Problems with HSL / Streaming"
I'm having problems using HSL, but this works when I change the source code by removing
 `{... this.props}` from `<Video />` the React-native-Video tag, I did not figure out what it could be but only a few links work with inheritance of props.

PS: Sorry for the mistakes in English, I'm not fluent.

[2019-06-02 02:08] #113 closed

[2019-06-03 06:27] akhilsanker commented on #67
Hi, facing the same issue.
Any workaround? Any solution is appreciable.

Thanks

[2019-06-10 04:28] RavindraMaddukuri commented on #39
Hi everyone,
      I am also facing this issue in react native ios same above
![Simulator Screen Shot - iPhone 6 Plus - 2019-06-10 at 09 57 48](https://user-images.githubusercontent.com/45200482/59172551-5033ae00-8b66-11e9-8fed-bf95bd77f4f0.png)

[2019-06-19 10:12] mayur-bhandari commented on #111
react-native link react-native-video-player

[2019-06-24 09:30] Gabsys commented on #112
Add props:
thumbnail={{uri:YOUR_URL}}

[2019-06-24 09:33] Gabsys opened #114 "Vertical video is stretched in Fullscreen mode"
When I play a vertical video, the video content is at the center with black gaps on the left & right which is normal & fine. However, once I go fullscreen, the video content will be stretched to fill up the whole screen instead of maintaining the black gaps on the left & right. Anyone manage to solve this issue?

[2019-06-27 20:46] WillyRamirez commented on #39
@RavindraMaddukuri sounds like a linking issue as well. Did you make sure it's linked correctly?

[2019-06-28 10:28] Gabsys commented on #114
Fixed by replacing the VideoView code in player_fullscreen.xml with

`<VideoView
            android:id="@+id/videoView"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_centerInParent="true"
            android:layout_marginStart="0dp"
            android:layout_marginTop="0dp"
            android:layout_marginEnd="0dp"

[2019-06-28 10:28] #114 closed

[2019-07-25 10:45] salmaarsh06 commented on #67
adding controls={true} shows the video .

[2019-09-11 08:03] hossamnasser938 commented on #108
try to clear this prop `disableFullscreen`. The default value may be `true`:
[code]

[2019-09-29 09:23] yuanbolin opened #115 "seek of undefined"
调用seek方法报错

[2019-10-12 16:59] DevAhmedRagab opened #116 "react-native-video-player not working with RTL"
seek not working well with RTL

[2019-10-14 09:40] harishsn commented on #105
Same issue

[2019-10-22 20:15] sourabhdadapure commented on #105
@abishekraj @harishsn
not I ended up using `react-native-video`

[2019-11-06 22:27] MayarAhmed commented on #67
still same issue for me despite updating mp4 link but it's not working fine with my link it works with any other mp4 link so would you recommend any steps to follow to check my link validity?

[2019-11-06 22:28] MayarAhmed commented on #67
@salmaarsh06  unfortunately didn't work

[2019-11-10 18:15] IntelliJAbhishek opened #118 "Tap to seek and video time"
I am able seek by swiping on seekbar but not able to tap and seek like youtube. Also there is no option to show video duration and remaining

[2019-11-13 06:51] Taiyab123 opened #119 "Error on s3 video url"
I am not able to play video from s3 URL. If anyone has solution regarding it, please response. Or we can play video from Vimeo only??

[2019-11-13 13:42] abdulsami1105 commented on #81
Any update on this issue?

[2020-03-18 20:16] raphaelv619 opened #120 "Video not starting in IOS"
The player was working properly, but simply decided to stop working on IOS

The real devices I tested were the Iphone 4s and the Iphone XR, it was working, but now on the Iphone XR it doesn't work anymore and I don't have the 4s to test anymore. By XCode I tested the Iphone 11 and 8 on the emulator, and the console shows me the following error when I click to play the video "*** - [AVAssetResource

[2020-03-19 01:27] raphaelv619 commented on #120
My problem was in the podfile, regarding the installation of react-native-video, I changed:
pod 'react-native-video / VideoCaching',: path => '../node_modules/react-native-video/react-native-video.podspec'
for:
pod 'react-native-video',: path => '../node_modules/react-native-video/react-native-video.podspec'

[2020-03-19 01:27] #120 closed

[2020-04-02 18:11] slavikdenis opened #121 "Broken with RN 0.62.0"
![Screenshot_20200402-201015_IQ Metropolis](https://user-images.githubusercontent.com/15640932/78283481-23e68500-751e-11ea-87e3-2102394e73f7.jpg)

[2020-04-03 03:33] drewpitchford commented on #121
Same issue here...Hopefully a fix is out soon? Or we just downgrade RN versions.

[2020-04-03 07:39] guliash commented on #121
https://reactnative.dev/blog/2020/03/26/version-0.62#breaking-changes
'Remove PropTypes: We're removing propTypes from core components in order to reduce the app size impact of React Native core and to favor static type systems which check at compile time instead of runtime.'

[2020-04-03 13:41] slavikdenis commented on #121
Temp fix is in `node_modules/react-native-video-player/index.js` delete/rename every `TouchableOpacity.propTypes`

[2020-04-03 15:04] slavikdenis commented on #121
If anyone is interested, here is the component in typescript without proptypes. https://gist.github.com/slavikdenis/03e6d168cc45de24405a1b59edbedabe

[2020-04-16 09:51] cornedor opened #122 "Looking for new maintainers"
I'm looking for new maintainers, I no longer work with React Native projects and don't have a setup to develop this component any further.

If there is someone that would like to maintain this component I would be happy to transfer the ownership.

[2020-04-21 16:34] egarrett94 commented on #121
[here](https://github.com/cornedor/react-native-video-player/pull/123) is a PR to update the types.

[2020-04-24 08:58] JP6720 commented on #31
How to show when video is in List. I want to show buffering on every video.

[2020-04-24 09:52] JP6720 commented on #31
How to use this all methods for all videos when videos in Flatlist.
Because mostly state can use for single component only.

[2020-05-06 17:55] NotMoni commented on #122
Hey, mate I can help. Feel free to contact me. 🦄

[2020-05-07 16:56] AdeelMughal opened #124 "RN 0.62 App crashes on Android right after building."
When library is imported Android app crashes right after building. IOS working fine.

[2020-05-07 19:45] elifaahmet commented on #114
Hey @Gabsys can you please tell me where is this file?

[2020-05-08 05:16] Gabsys commented on #114
android -> app -> src -> main -> res -> layout -> player_fullscreen.xml

[2020-05-20 17:31] bugsniper commented on #122
give me. What a good package!. I will maintain this.

[2020-05-25 18:28] bugsniper commented on #122
@cornedor please give me ownership as well. ;)

[2020-05-25 18:36] cornedor commented on #122
Hey, why do you need ownership at this moment? I would prefer to keep it for now until I know that it is in good hands, I hope you understand.

[2020-05-26 07:11] SicraStudio commented on #124
Yes, getting:

`TypeError: undefined is not an object (evaluating '_reactNative.TouchableOpacity.propTypes.style`

As soon as I remove the `import VideoPlayer from 'react-native-video-player`, the app does not crash.

Any ideas?

[2020-05-26 07:26] SicraStudio commented on #124
Workaround here:

[https://github.com/cornedor/react-native-video-player/issues/121#issuecomment-608440166]

[2020-06-02 11:46] fend25 commented on #122
@cornedor thank you for the package and your work on it!

So, maybe give to @bugsniper merge permissions, because there are some simple but critical PRs (like #123)

[2020-06-02 11:49] cornedor commented on #122
@bugsniper and @NotMoni are both collaborators, and as far as I know should have merge permissions. I'll update the npm packages asap when MR's are merged.

[2020-06-10 10:46] TheRav3n commented on #122
Hello @cornedor, would like maintainer access. I would be happy to send a PR for the latest React Native issue.

[2020-06-11 10:27] TheRav3n commented on #122
@cornedor If you can push 0.10.1 to npm, thank you!

[2020-06-11 10:37] cornedor commented on #122
https://www.npmjs.com/package/react-native-video-player/v/0.10.1

[2020-06-11 10:37] TheRav3n commented on #124
This has been fixed with version 0.10.1 f4809d6c1ffab939ffb8cee70fb074cbb4fc9940

[2020-06-11 10:37] #124 closed

[2020-06-11 10:41] TheRav3n commented on #121
This has been fixed with version 0.10.1 f4809d6c1ffab939ffb8cee70fb074cbb4fc9940

[2020-06-11 10:41] #121 closed

[2020-06-11 10:43] slavikdenis commented on #121
@TheRav3n did not you mean https://github.com/cornedor/react-native-video-player/pull/123 ?

[2020-06-11 10:46] TheRav3n commented on #119
[Amazon Tutorial](https://docs.sumerian.amazonaws.com/tutorials/create/beginner/s3-video/)

Make sure that both the bucket and video have public permission.

Add the following CORS configuration:
[code]

[2020-06-11 10:46] #119 closed

[2020-06-11 10:48] TheRav3n commented on #122
I'll be maintaining this package from now on so I'll close this issue. If anyone else wants to help, please reopen.

@cornedor I am not sure if you can get me access to upload to npm without losing ownership. If so, I'll ping you when we need to update.

[2020-06-11 10:48] #122 closed

[2020-06-11 10:49] TheRav3n commented on #97
Closing as this is too old and most probably already resolved.

[2020-06-11 10:50] TheRav3n commented on #92
Closing as this thread is too old, Android 8 should be working by now.

[2020-06-11 10:50] #92 closed

[2020-06-11 10:53] TheRav3n commented on #67
Is this issue still happening, can you help me in reproducing it?

[2020-06-11 10:57] TheRav3n commented on #105
Is this happening on iOS, Android or both?

[2020-06-11 10:57] TheRav3n commented on #96
Audio is working on iOS as of now. If you are still having this issue, please provide steps to reproduce or a full code example.

[2020-06-11 10:57] #96 closed

[2020-06-11 10:59] TheRav3n commented on #95
Closing as I have no idea which is the format of that video and this thread is too old. Feel free to reopen providing more info.

[2020-06-11 10:59] #95 closed

[2020-06-11 11:01] TheRav3n commented on #112
Closing as this thread is too old. If this is still happening, provide steps to reproduce or a full code example.

[2020-06-11 11:01] #112 closed

[2020-06-11 11:05] TheRav3n commented on #104
From file system:
[code]

[2020-06-11 11:05] #104 closed

[2020-06-11 11:09] TheRav3n commented on #60
Closing as this issue is too old. Feel free to reopen if you are still facing it and provide more info.

[2020-06-11 11:09] #60 closed

[2020-06-11 11:11] TheRav3n commented on #88
Closing as this makes no sense. If you don't need the controls, just switch to `react-native-video`. The whole point of this package is the controls.

[2020-06-11 11:11] #88 closed

[2020-06-11 11:13] TheRav3n commented on #115
Closing as there are not enough details to even try to understand what is the issue here.

[2020-06-11 11:13] #115 closed

[2020-06-11 11:14] TheRav3n commented on #111
Closing this issue as it can't be reproduced. Feel free to reopen and provide more details.

[2020-06-11 11:14] #111 closed

[2020-06-11 11:16] TheRav3n commented on #99
`onPlayPress` is already available. Adding enhancement label for `onSeek`.

[2020-06-11 11:17] TheRav3n commented on #94
Closing as duplicate of #101

[2020-06-11 11:17] #94 closed

[2020-06-11 11:18] TheRav3n commented on #100
Closing as solved.

[2020-06-11 11:18] #100 closed

[2020-06-11 11:19] TheRav3n commented on #93
Closing as duplicate of #99

There is currently no way, but there is a enhancement request open.

[2020-06-11 11:19] #93 closed

[2020-06-11 11:20] TheRav3n commented on #70
Closing as duplicate of #38

[2020-06-11 11:20] #70 closed

[2020-06-11 11:20] TheRav3n commented on #13
Love to all, but this is not an issue. Closing ❤️

[2020-06-11 11:20] #13 closed

[2020-06-11 11:22] TheRav3n commented on #23
Closing as this is too old. If this is still happening, feel free to reopen and provide steps to reproduce or full code example.

[2020-06-11 11:22] #23 closed

[2020-06-11 11:23] TheRav3n commented on #45
Closing as this is too old and author seems to have solved the issue.

[2020-06-11 11:23] #45 closed

[2020-06-11 11:26] TheRav3n commented on #87
Closing as duplicate of #52

[2020-06-11 11:26] #87 closed

[2020-06-11 11:28] TheRav3n commented on #72
Closing as this issue is too old. If this is still happening, feel free to reopen. Provide steps to reproduce or full code example.

[2020-06-11 11:28] #72 closed

[2020-06-11 11:44] TheRav3n commented on #121
@slavikdenis Haven't looked into PRs yet, but I fixed this myself with 0.10.1.

[2020-06-17 12:13] max-kim commented on #31
You can isolate all of items to dedicated component with its own state

[2020-06-28 14:18] enigmablue opened #125 "Example of adding props to move the seek bar?"
Hi i'm looking for an example where i can move the seek bar around.

Could we have some examples of how to use the custom styles in the doc?
customStyles

[2020-07-03 06:55] AkshayUk commented on #125
+1 Did you figure it out yet? I would like to see some examples of how this is done too.

[2020-07-03 09:39] imshreyansh opened #126 "RCTVIEW [{flexGrow:<<Nan>>}] is not usable as a native method argument"

[2020-07-03 12:02] enigmablue commented on #125
oh do you know how to shift the bar higher up?

[2020-07-03 13:11] TheRav3n commented on #126
Hello @imshreyansh, can you provide a code example?

[2020-07-03 13:43] imshreyansh commented on #126
@TheRav3n  I can tell you the scenario like what exactly i did and how did this error came =>
Initally i was using
"react-native-video": "^4.4.5"
"react-native-video-player": "^0.10.1"
Everything was working fine,

Then i updated the package of react-native-video that is
"react-native-video": "^5.0.0"
"react-native-video-player": "^0.10.1

and then when i was playing the video it was throwing me t

[2020-07-03 13:53] TheRav3n commented on #126
That error means that you are passing a wrong value to `flexGrow` in a `View` component.

This library is not assigning `flexGrow` to anything inside react-native-video, so that `flexGrow` style property must be coming from your custom styles.

You don't have to post your full project, but if you want further help please create a code example with just this thing that is not working for you.

[2020-07-04 14:39] imshreyansh commented on #126
The same code works for version of react native video^4.4.5 but doesn't work for react-native-video^5.0.0
<View style={{ width: w / 1.2, marginLeft: 'auto', marginRight: 'auto', marginTop: width / 50 }}>
                                    <VideoPlayer
                                        video={video} //Uri passed in video
                                        videoWidth={w / 3}

[2020-07-22 11:53] puneetkansal04 opened #127 "Get play button and full screens character in chinese in android"
I am not getting play button and full screen icons in android instead of it i am getting it written in Chinese language. please check it

[2020-07-22 11:58] TheRav3n commented on #127
Hello @puneetkansal04,

Full screen is not available yet for Android. There's already an open issue #52. If you manage to get this working, feel free to open a PR so that everyone will benefit.

About the the icons not working, did you follow the additional installation steps for Android? I'll report them here for your convenience.

Add the following at the beginning of `./android/app/build.gradle

[2020-07-22 12:24] puneetkansal04 commented on #127
Thanks for the reply, i helps me alot.

On Wed, 22 Jul 2020 at 17:28, Daniele Molinari <notifications@github.com>
wrote:

[2020-08-04 00:54] meliodev commented on #52
Is there any update on this ? :(

[2020-08-04 08:56] TheRav3n commented on #52
There is no solution worthy of being published yet. Feel free to look into it! Sadly, this feature requires consistent Java and Android knowledge.

[2020-08-05 08:33] yuanbolin opened #128 "ios播放视频没有声音"
很诡异的问题
ios播放远程视频没有声音,但只要操作过录制视频(调用过摄像头和麦克风)后,播放视频就有声音

[2020-08-05 08:35] yuanbolin commented on #128
"react-native-video": "^5.0.0",
    "react-native-video-player": "^0.10.0",

[2020-08-05 08:41] yuanbolin commented on #128
感觉就像是权限被占用,视频时没有声音，按音量键也没反应，但插上耳机后有声音用

[2020-08-05 08:44] yuanbolin commented on #128
其他app都没有问题,排除设备问题

[2020-08-06 01:18] #128 closed

[2020-08-26 19:48] KPS250 opened #129 "Unable to Play/Pause video with refs"
[code]

**Error: _this2.player.resume is not a function**

[2020-08-26 19:57] #129 closed

[2020-09-03 10:47] abhishektiwari-kiwi commented on #31
It's been more than 2 years.
Any update on this?

[2020-09-23 07:40] sanjay628 commented on #126
just revert that at 4.45 until the holder of this library update its repo

[2020-10-09 07:09] AkshayUk opened #130 "How to play only one video at a time?"
Hi, I have multiple videos in a flatlist, how can i play only one video at a time? i.e.; when I play a new video in list, all other videos should be stopped. Right now, I can play any number of videos I want in the flatlist and all continue to play at them same time. Any help is appreciated, thanks in advance.

[2020-10-09 07:42] TheRav3n commented on #130
Hello  AkshayUk,

You will have to keep an array of `useRef()`, so `const myRef = useRef([])`.

Connect refs to the array by doing `ref={el => myRef.current[i] = el}`.

Then, programmatically call method `stop()` on all other players when `onPlayPress()` is fired on a specific player.

Closing as the issue is resolved.

[2020-10-09 07:42] #130 closed

[2020-10-09 09:39] AkshayUk commented on #130
Hi Thank you for the response. Also wanted to ask if there is a way to programmatically play the video? Right now we have to tap on the video to play it. I Even tried resume() , didn't seem to work.

[2020-10-09 10:13] TheRav3n commented on #130
`autoplay`

[2020-10-09 10:21] AkshayUk commented on #130
Yes, i did give autoplay a try. Unfortunately it seems to autoplay all the videos in list when set to true. That's why i was looking for an option to play only the specific video using the Ref.

[2020-10-09 12:55] AkshayUk commented on #130
I got it working by doing this
`autoplay={true}
 paused={index === visibleIndex ? false : true}`
Thanks.

[2020-10-09 12:58] TheRav3n commented on #130
By the way, as a user, I would happily keep just one video per screen. I don't think it's a good idea to use a FlatList of videos in a mobile device.

[2020-10-09 13:03] AkshayUk commented on #130
The app i am currently working on is something similar to Instagram where you would get posts - either images/videos in your homescreen that you can scroll through. :D

[2020-10-09 13:05] TheRav3n commented on #130
Indeed you should use a wrapping component in the flatlist, such as a card and render videos only when they are about to go onscreen

[2020-11-13 04:48] aschambers commented on #108
I have a fork of the repository to add the fullscreen button on Android. If you add the native module in Android for the video player in your app, it will show the fullscreen button: [https://github.com/aschambers/react-native-video-player](url)

[2020-11-13 04:51] aschambers commented on #52
I have a fork of the repository to add the fullscreen button on Android. If you add the native module in Android for the video player in your app, it will show the fullscreen button and work: [https://github.com/aschambers/react-native-video-player](url)
Of course this requires some knowledge of Android and Java though.

[2020-11-19 20:42] sinafbd commented on #52
i have same problem after doing all the things mentioned for android full screen

[2020-12-28 08:24] siliconavengers opened #132 "Not able to turn on volume on full screen mode"
Face issue where sound is still muted on fullscreen mode even though unmute button is toggled.

Steps to replicate
**Scenario 1**
1. Mute sound after video is played
2. Tap fullscreen mode button
3. Tap unmute button on fullscreen mode

**Scenario 2**
1. Play video with defaultMuted set to true
2. Tap fullscreen mode button
3. Tap unmute button on fullscreen mode

[2021-01-13 11:21] KPS250 commented on #58
Any update on support for youtube videos?

[2021-01-20 06:00] iamwillu77 commented on #126
i am using this code

<View style={{flex:0.6}}>
                    <View>
                    <VideoPlayer
                   endWithThumbnail
                   video={{uri:""+IMAGE+""+item.AudioVideoLink}}
                   videoWidth={200}
                   videoHeight={150}
                   resizeMode={'cover'}
                   style={{flexGrow:1}}

                   </VideoPlayer>

[2021-02-01 12:45] dushyantgadhia commented on #105
Both

[2021-02-04 10:53] dushyantgadhia commented on #105
@sourabhdadapure @harishsn @abishekraj

This worked for me.

import convertToProxyURL from 'react-native-video-cache';

<VideoPlayer
    ref={r => (this.player = r)}
    video={{uri: convertToProxyURL(VideoURI), cache: true}}
    playInBackground={false}
    automaticallyWaitsToMinimizeStalling={false}
    rate={1.0}
/>

[2021-02-08 05:19] thedeveloperyouneed commented on #67
Still facing the issue in 2021. Any update ?

[2021-02-18 05:29] tamilvanan25 opened #133 "Autoplay"
Autoplay plays all videos at same time... paused is not working... and i am using flatlist for the videos... and loop is also ot working for me...

[2021-03-09 17:49] mallikarjuna-sharma commented on #31
+1

[2021-03-29 07:30] AtaMuhiuldin commented on #31
@uribro thanks, you solution worked for me as well!

[2021-04-22 13:08] keshavwebnware opened #134 "any method to know error in loading in video ?"
I have read  all documentation but unable to find any method to detect error in video loading. Like video failed to load with 404 or 500 error.

[2021-04-22 13:13] #134 closed

[2021-05-06 05:37] jitendraAn commented on #67
Hi, facing the same issue.
Any one have solution that problem.

[2021-05-14 11:52] nagaraj95 commented on #67
Hi, Kindly post some solution regarding this issue

[2021-05-26 11:09] dshacham opened #135 "Customizing the play button"
Is there a tutorial somewhere on how to do it? It's really unclear from the documentation.

[2021-06-20 20:57] maendamedia commented on #126
Hope this will be fixed. Still same issues :(

[2021-06-21 06:53] WesleyFaveri commented on #23
Anyone fixed this issue?

[2021-08-05 05:54] Developer-teamkoder commented on #129
Hello @KPS250, Can you please let me know how did you fixed it?

[2021-08-05 07:11] AtiqRaja commented on #109
what is the status

[2021-09-06 17:52] HammadAhm3d opened #136 "Playing multiple videos"
I have a use case where I need to play a set of videos, one after another. Is there any hidden prop or some workaround to achieve this functionality?

[2021-11-17 04:16] waceves commented on #133
I have the same problem, 2 videos at the same time

[2021-12-08 15:44] venomkage opened #142 "Removal of jcenter()"
In newer versions of React Native jcenter() will be removed which means we have to use mavenCentral() or jtpack() what to do now? How can we use react-native-video-player without jcenter() ?

[2021-12-13 18:49] SabarnaBasak-web opened #143 "Cannot disable autoplay"
not able to disable autoplaying of video on android. Set the paused value to true, yet the video isn't paused, any idea what I am missing out?

[2022-01-10 10:41] Riaz5687 commented on #133
yes i have the same issue as well

[2022-01-12 18:45] zacdemi opened #144 "Black Screen on IOS React Native 66.4"
I created a clean react native project and followed the set up docs for react-native-video-player. The UI video window displays, but only shows a black background.![Simulator Screen Shot - iPhone 13 mini - 2022-01-12 at 10 39 31](https://user-images.githubusercontent.com/8942619/149201814-ce059a2b-714b-45fc-8e45-4e551fd6ff84.png)`/**
 * Sample React Native App
 * https://github.com/facebook/react-

[2022-01-12 19:00] zacdemi commented on #144
This only happens in the simulator. Works fine on a physical device.

[2022-01-12 19:00] #144 closed

[2022-01-20 08:27] tarun-soni opened #145 "A start() method to trigger a start using ref for custom start button component"
I'm using a custom start button component and want to trigger the start using the ref, but I can see there are seek, stop pause, resume methods but not a start one. So is there any way to mimic the start() method?

Thanks in advance!

[2022-02-02 08:02] kunal-oxl commented on #77
@dip77

where to find the BridgeModule.java and VideActivity.java files?

[2022-02-02 08:03] kunal-oxl commented on #77
let me know if there's any better library for this too :/

[2022-02-08 10:26] Krish143git opened #146 "Seek bar is not working properly"
I have created horizontal list with two videos with this library.when move the seek bar to the right the scroll is working seek bar is not working.please help me how to solve this.

[2022-02-15 03:21] alantoa commented on #145
Good idea, you can follow this library ` [react-native-video-player](https://github.com/alantoa/react-native-video-player)`, I will add later.

[2022-02-24 11:44] jabar-7 opened #147 "unable to run on web"
ERROR in ./node_modules/react-native/Libraries/Image/AssetSourceResolver.js 1:407-439
Module not found: Error: Can't resolve '../Utilities/Platform' in 'D:\projects\rn\WebAndMobile-RN\node_modules\react-native\Libraries\Image'
resolve '../Utilities/Platform' in 'D:\projects\rn\WebAndMobile-RN\node_modules\react-native\Libraries\Image'
  using description file: D:\projects\rn\WebAndMobile-RN\node_m

[2022-02-24 17:42] Saad-Bashar commented on #116
any solution on this yet?

[2022-02-26 21:00] Alex1899 commented on #112
having the same issue on android

[2022-03-02 13:57] MasterRedStorm commented on #112
I have as well.
using
      thumbnail={{ uri: 'https://thumbs.dreamstime.com/z/example-red-tag-example-red-square-price-tag-117502755.jpg' }}
results in a black thumbnail

[2022-03-08 16:53] tarun-soni commented on #145
@alantoa Sure!

[2022-03-16 16:33] jotilohana commented on #67
Hey, I'm also facing same issue
any solution??

[2022-03-16 19:31] jotilohana opened #148 "Not Accepting videos other than mp4"

[2022-03-17 14:09] kapilmyakal opened #149 "Fullscreen mode not working in android ,loader should be there while loading the video"
Hii @cornedor  , Video Fullscreen mode is  working on ios, but not in android it will not show that option Please implement this option ASAP. Thank You
can you please implement the loading feature , need to show the loader while loading the video

react-native-video-player:"^0.12.0"
react-native-video:"^5.2.0"

[2022-03-21 14:32] pacosta613 opened #150 "TypeError: Cannot read properties of undefined (reading 'Constants')"
![Screen Shot 2022-03-21 at 10 30 13 AM](https://user-images.githubusercontent.com/15216315/159283011-fc534675-7307-451a-a7c6-3dbe100437fb.png)

<VideoPlayer
            video={{ uri: this.state.imageSource.uri }}
            videoWidth={20}
            videoHeight={20}
            thumbnail={{ uri: uri }} />

[2022-03-27 21:02] oguzhan10 commented on #114
@Gabsys How did you manage to make it fullscreen?

[2022-04-06 15:31] franiakat opened #151 "Video is empty in production build"
I am using React Native with Typescript and I added VideoPlayer.
In debug build it works properly, although the production build even though it's successful is not fully functional - the area of the player and controls are there, but no vide is shown, I can press play, but nothing happens, also, the duration is "00:00" instead of the duration count. I see no errors in the console, when I start as

[2022-05-02 12:25] Boban-kaaylabs commented on #150
Install pods and just rebuild the app

[2022-05-11 13:09] NensiKasundra opened #152 "disableSeek is not working with fullscreen mode"
When I am using disableSeek to true it's not working with fullscreen mode. Seek is showing in fullscreen mode.

[code]

Any Solution for the above one?

[2022-05-11 13:10] NensiKasundra commented on #152
@cornedor
Please check.

[2022-05-16 10:04] fukemy commented on #149
i didnt see the loader, only black screen

[2022-05-16 10:04] fukemy commented on #109
any news?

[2022-05-16 10:07] fukemy opened #153 "video load really slow"
tested with url:
http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4

it's took~7 seconds to start render first frame, my network is good

[2022-05-26 19:08] ploveland opened #154 "TypeError: _MaterialIcons.default.propTypes is undefined"
After going through the steps, including copying over the Material font to the Info.plist file, as well as the line for the gradle file, I am getting the TypeError above. I'm using React 17.0.1 and React Native 63.4.

[2022-05-30 11:11] Riaz5687 commented on #135
same for me

[2022-05-31 13:56] azeezWebsultanate commented on #154
Error message : TypeError: undefined is not an object (evaluating '_reactNative.NativeModules.UIManager.RCTVideo.Constants

<img width="442" alt="Screenshot 2022-05-31 at 7 11 30 PM" src="https://user-images.githubusercontent.com/87024456/171190016-2ab8038b-3356-4911-b458-7bd368db2c98.png">

I am facing the same issue in ios while I have to do pod install and icon install its keeps giving me the s

[2022-05-31 13:59] azeezWebsultanate opened #155 "TypeError: undefined is not an object (evaluating '_reactNative.NativeModules.UIManager.RCTVideo.Constants"
Error message : TypeError: undefined is not an object (evaluating '_reactNative.NativeModules.UIManager.RCTVideo.Constants

 "react-native": "0.67.4",
 "react-native-video-player": "^0.12.0",

<img width="442" alt="Screenshot 2022-05-31 at 7 11 30 PM" src="https://user-images.githubusercontent.com/87024456/171190016-2ab8038b-3356-4911-b458-7bd368db2c98.png">

I am facing the same issue in ios whil

[2022-06-02 15:48] NandhakumarRock opened #156 "Full screen button not showing"
Any update for  full screen button.

[2022-06-04 22:41] XiomaraG5 commented on #155
did you solve?

[2022-06-06 17:04] eramudeep commented on #67
i am also facing same issue,
any workaround .?

[2022-06-08 03:21] jitendraAn commented on #67
Please try use this property menifest file or webview 'android:hardwareAccelerated="true"'  or  android:hardwareAccelerated="false"

[2022-06-09 07:26] fukemy commented on #153
is this lib dead?

[2022-06-09 07:26] fukemy commented on #153
@cornedor
pls help

[2022-06-09 07:28] cornedor commented on #153
react-native-video is used to play the video, can you check if your video plays fine with just react-native-video?

[2022-06-09 07:34] TheDanielMoli opened #157 "Maintenance update: looking for maintainers"
I no longer work for the company using this library. When I started using it, the owner of the repo @cornedor was looking for maintainers and I joined.

I will no longer work on this because I don't need it anymore. If you are willing to maintain the repo, please ask @cornedor to give you access.

[2022-06-09 09:26] fukemy commented on #153
thanks, im. trying to find problem in react-native-video

[2022-06-09 09:26] #153 closed

[2022-07-01 10:40] Fouzhan21 commented on #150
same error...how it fix...?

[2022-07-05 19:34] Amancoder006 commented on #155
same error???

[2022-07-05 22:13] TheDanielMoli commented on #155
Guys, this library has no maintainers anymore. Either become maintainers yourselves ( #157 ) or use another library.

[2022-07-05 22:13] #155 closed

[2022-07-10 18:00] YGBReda commented on #135
same

[2022-07-14 12:12] jainmca21 opened #158 "invariant violation: ViewPropTypes has been removed from react native. migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'."
Getting below error after upgrading the RN version 0.69.1 when run 'npx react-native run-ios'.

Error:
invariant violation: ViewPropTypes has been removed from react native. migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'.

In React-native version 0.69 'ViewPropTypes'. has been removed.

[2022-07-19 21:36] sultan-arshi opened #159 "is .flv url is supported ?"
there is no any description available in the read me about supported formate
I have a URL which contains FLV file, is this lib support it ?

[2022-07-21 11:51] avigmaproject opened #160 "React native video issue in android"
A problem occurred evaluating project ':react-native-video'.

<img width="441" alt="Screen Shot 2022-07-21 at 5 20 26 PM" src="https://user-images.githubusercontent.com/71446696/180207029-adefd774-fd8d-47e3-a851-1544c68790d4.png">
<img width="934" alt="Screen Shot 2022-07-21 at 5 20 17 PM" src="https://user-images.githubusercontent.com/71446696/180207055-c2cc7ef3-e19d-4795-b1e4-b8b4580d8077.png">

[2022-07-26 07:25] magic3584 opened #161 "Not support style"
such as `flex:1` or

[code]

If I set with {{width =100, height:200}}, the view is not centered

[2022-08-10 06:57] sangeethps2255 commented on #160
I got the same issue

[2022-08-10 19:54] NLanese opened #162 "TypeError: undefined is not an object (evaluating '_MaterialIcons.default.propTypes.style')"
Whenever I add `import VideoPlayer from "react-native-video-player"` to any file, I get the following error whenever I try to even start the app...
[code]

I tried using `npm install material-icons` and `npm install material-icons --save` which worked for a little (?) and then I started getting the same error again, and rerunning that command did nothing. In its current state, this package seems t

[2022-08-12 09:34] hardiktech213 opened #163 "Android Issue : First Video is not Playing"
Hello Devs,
                   I am facing one issue in android for react-native-video-player version - 0.10.1.
I have a listing of videos that plays automatic when you locate on particular video like instagram but in android only first video is not playing i have to scroll up & down to play first video.

please give me solution how i can resolve this.

[2022-08-22 11:13] surajheadsup opened #164 "Not able to Stream Data"
Hello, I am trying to load the stream into the player but, am not able to load it.

Full Stream Code on Server :

`const express = require("express");
var cors = require("cors");
var ip = require("ip")
const app = express();
const fs = require("fs");
app.use(cors())
app.use('/video/:name', express.static('uploads'))
app.get("/", function (req, res) {
    res.sendFile(__dirname + "/index.html");
})

[2022-08-25 07:13] Janviba911 commented on #112
Same problem, can you please provide solution for the same ASAP?

[2022-09-01 06:54] khadijajouili12 opened #167 "hi when i use vedio player zoom auto how i can disable this zoom"

[2022-10-02 12:50] sumitmitra255 commented on #31
Hello thank you all for this post and the replies. I have achecived a really good buffering indicator.

[2022-10-14 16:20] henriflouquet commented on #81
I used a setTimeout as a workaround
[code]
...

`
<VideoPlayer
         ...
          onStart={() => onStart()}
/>
`

[2022-11-01 11:08] Muhammad-Sufian commented on #160
go to node_modules > react-native-video and inside dependencies change:
provided to compileOnly
compile to implementation

[2022-11-02 06:31] avigmaproject commented on #160
go to node_modules > react-native-video and inside dependencies change:

provided to implementation

[2022-11-17 23:05] maoapp commented on #162
the same here :(